@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDLY @DateTime.Now.ToShortDateString()</h1>
    <p class="lead">Vidly app is supposed to be used at video rental stores.</p>
</div>
